{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:vue/recommended",
    "airbnb-base"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["vue"],
  "rules": {
    "indent": ["error", 2, {
      "SwitchCase": 1
    }],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "prefer-template": "warn",
    "arrow-parens": ["error", "as-needed"],
    "max-len": "off",
    "consistent-return": ["error", {
      "treatUndefinedAsUnspecified": true
    }],
    "no-param-reassign": ["error", {
      "props": false
    }],
    "no-return-assign": ["error", "except-parens"],
    "linebreak-style": "off",
    "quote-props": ["warn", "consistent-as-needed"],
    "no-tabs": ["error", {
      "allowIndentationTabs": true
    }],
    "no-use-before-define": ["error", {
      "functions": false
    }],
    "no-unused-vars": ["warn", {
      "vars": "local",
      "args": "none"
    }],
    "no-await-in-loop": "off",
    "no-shadow": "off",
    "no-plusplus": "off",
    "no-continue": "off",
    "no-console": "off",
    "no-alert": "off",
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "no-bitwise": ["error", {
      "allow": ["~", "&=", "|=", "<<"]
    }],
    "default-case": "off",
    "vue/script-indent": ["error", 2, {
      "baseIndent": 1,
      "switchCase": 1
    }],
    "vue/html-indent": ["error", 2],
    "vue/max-attributes-per-line": "off",
    "vue/html-self-closing": ["error", {
      "html": {
        "void": "never",
        "normal": "never",
        "component": "never"
      }
    }],
    "vue/singleline-html-element-content-newline": "off",
    "vue/comma-dangle": "error"
  },
  "overrides": [{
    "files": ["*.vue"],
    "rules": {
      "indent": "off"
    }
  }]
}
