.form-item {
  margin-bottom: 1em;
}

.form-item__buttons {
  display: flex;
  align-items: center;
}

.form-item__label {
  display: block;
  font-size: .9375em;
  margin-bottom: 4px;
  font-weight: 600;
}

.form-item__input {
  display: block;
  width: 100%;
  font-size: .9375em;
  vertical-align: middle;
  height: 2.66667em;
  background-color: var(--color-background);
  border: 1px solid rgba($color-text-dark, 0.1);
  border-radius: .1875em;
  box-shadow: none;
  padding: 0 8px;
  color: inherit;
  box-sizing: border-box;
}

.form-item__input--small {
  width: 50%;
  min-width: 50%;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1.5em;
  border-radius: .1875em;
  background: var(--color-navigation);
  line-height: 1.2;
  cursor: pointer;
  border: 0 solid transparent;
  font-size: .9375em;
  color: var(--color-text);
  transition: background .5s;
  min-height: 2.66667em;

  &:hover, &.button--active {
    background: var(--color-theme);
  }
}

.input-option__field {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 1em;
}

.input-option__field--three {
  grid-template-columns: 1fr 1fr auto;
}

.input-option__items {
  margin-left: -0.5em;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-flow: row wrap;
}

.input-option__item {
  margin: 0.5em 0 0 0.5em;
  flex-shrink: 0;
  padding: 0.25em 0.5em;
  min-height: 0;
}

.button--confirm {
  background: $color-theme-blue;

  &:hover, &.button--active {
    background: lighten($color-theme-blue, 5);
  }
}

.checkbox {
  .button {
    transition: all .3s;
    margin-right: 2px;

    &:last-of-type {
      margin-right: 5px;
    }
  }
}