.form-item {
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

.form-item--config {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-areas: 'label' 'value' 'description';

	@media screen and (min-width: 1200px) {
		display: grid;
		grid-template-columns: minmax(min-content, var(--label-width, 12em)) 1fr;
		grid-template-rows: auto auto;
		grid-column-gap: 1em;
		grid-template-areas: 'label value' 'description description';
	}
}

.form-item__buttons {
	display: flex;
	align-items: center;

	> .button {
		margin-right: 0.5em;

		&:last-child {
			margin-right: 0;
		}
	}
}

.form-item__buttons--center {
	justify-content: center;
}

.form-item__label {
	display: block;
	font-size: .9375em;
	margin-bottom: 4px;
	font-weight: 600;

	@media screen and (min-width: 1200px) {
		height: 2.66667em;
		display: flex;
		align-items: center;
		margin-bottom: 0;
	}
}

.form-item__input {
	display: block;
	width: 100%;
	font-size: .9375em;
	vertical-align: middle;
	height: 2.66667em;
	background-color: var(--color-background);
	border: 1px solid rgba($color-text-dark, 0.1);
	border-radius: .1875em;
	box-shadow: none;
	padding: 0 8px;
	color: inherit;
	box-sizing: border-box;

	&:focus, &.form-item__input--focus {
		outline: var(--color-theme) auto 5px;
	}
}

.form-item__input--small {
	width: 50%;
	min-width: 50%;
}

.form-item__input--tag-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em 0 0 0.5em;
	min-height: 2.66667em;
	height: auto;
}

.form-item__input--tag {
	display: inline-block;
	min-width: 5em;
	width: auto;
	border: none;
	background: transparent;
	padding: 0;
	margin: 0 0.5em 0.5em 0;
	height: auto;
	flex-grow: 1;

	&:focus {
		outline: none;
	}
}

.form-item__textarea {
	padding: 0.5em;
	border-color: var(--color-border);
	width: 35em;
	box-sizing: border-box;
	max-width: 100%;

	.app--dark-mode & {
		background: var(--color-background-dark);
		color: var(--color-text);
	}
}

.form-item__tag {
	margin: 0 0.5em 0.5em 0;
	flex-shrink: 0;
	padding: 0.25em 0.5em;
	min-height: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: .1875em;
	background: var(--color-navigation);
	line-height: 1.2;
	border: 0 solid transparent;
	font-size: .9375em;
	color: var(--color-text);
	transition: background .5s;
}

.form-item__tag-remove {
	margin-left: 0.5em;
	cursor: pointer;
	transition: color .5s;

	&:hover {
		color: var(--color-theme);
	}
}

.form-item__description {
	grid-area: description;
	font-size: 0.75em;
	margin-right: 0.1em;
	color: var(--color-text-disabled);
	overflow: hidden;
}

.form-item__description-content {
	padding-top: 1em;

	a {
		text-decoration: none;
		color: var(--color-theme);
	}

	td, th {
		text-align: left;
		padding: 0 0.5em 0 0;
	}
}

.form-item__description-icon {
	margin-left: 0.5em;
	font-size: 0.75em;
	color: var(--color-text-disabled);
	cursor: pointer;
}

.form-item__error {
	color: var(--color-button-cancel);
}

.form-group {
	font-family: inherit;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
	border: 0 solid var(--color-border);
	border-top-width: 1px;

	@media screen and (min-width: 1200px) {
		padding: 1em 1em 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.form-group__legend {
	font-weight: 600;
	font-size: 0.75em;
	text-transform: uppercase;
	padding: 0 0.5rem;
	margin-left: -0.5rem;
	position: relative;
	line-height: 0;
}

.input-option__field {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 1em;
}

.input-option__field--three {
	grid-template-columns: 1fr 1fr auto;
}

.input-option__items {
	margin-left: -0.5em;
	margin-top: -0.5em;
	margin-bottom: 0.5em;
	display: flex;
	flex-flow: row wrap;
}

.button.input-option__item {
	margin: 0.5em 0 0 0.5em;
	flex-shrink: 0;
	padding: 0.25em 0.5em;
	min-height: 0;
}

.button {
	display: inline-flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5em 1.5em;
	border-radius: .1875em;
	background: var(--color-navigation);
	line-height: 1.2;
	cursor: pointer;
	border: 0 solid transparent;
	font-size: .9375em;
	color: var(--color-text);
	transition: background .3s;
	min-height: 2.66667em;
	outline: none;

	&:hover, &.button--active {
		background: var(--color-theme);
	}
}

.button--small {
	min-height: 1.2em;
	padding: 0.25em 0.5em;
}

.button--confirm {
	background: var(--color-theme);

	&:hover, &.button--active {
		background: var(--color-theme-light);
	}
}

.button--link {
	background: transparent;
	color: var(--color-theme);

	&:hover, &.button--active {
		background: transparent;
		color: var(--color-theme-light);
	}
}

.button--cancel {
	background: var(--color-button-cancel);

	&:hover, &.button--active {
		background: var(--color-button-cancel-active);
	}
}

.checkbox {
	.button {
		transition: all .3s;
		margin-right: 2px;

		&:last-of-type {
			margin-right: 5px;
		}
	}
}
