@import './settings';

.terminal {
	width: 100%;
	background: black;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	padding: 0.5em 1em;
	color: var(--color-text);
	font-family: monospace, monospace;
	box-sizing: border-box;
	height: 100%;
	overflow-y: auto;
	cursor: text;
	line-height: 1;

	@media screen and (max-width: 600px) {
		font-size: 10px;
		word-break: break-word;
	}
}

.terminal-message {
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	margin: 0 0 0.1em;

	&.terminal-message--truncated {
		&:not(:hover) {
			.terminal-message__content {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
}

.terminal-message__sign {
	color: var(--color-text-disabled);
	margin-right: 0.1em;
}

.terminal-message__content {
	white-space: pre-line;
}

.terminal-message__time {
	color: var(--color-text-disabled);
}

.terminal-message__level {
	&.terminal-message__level--info {
		color: $color-level-info;
	}

	&.terminal-message__level--debug {
		color: $color-level-debug;
	}

	&.terminal-message__level--error {
		color: $color-level-error;
	}

	&.terminal-message__level--warn {
		color: $color-level-warning;
	}
}


.terminal__input-wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	position: relative;
	grid-template-areas: 'sign text';

	.terminal__sign {
		color: var(--color-text);
	}
}

.terminal__input {
	width: 100%;
	border: none;
	height: 1em;
	box-sizing: border-box;
	background: transparent;
	color: var(--color-text);
	font-family: inherit;
	font-size: 100%;
	line-height: 1.1;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}
}

.terminal__input--autocomplete {
	padding-left: 1.2em;
	position: absolute;
	pointer-events: none;
	color: var(--color-text-disabled);
	height: 1em;
}

.terminal__sign {
	width: 1.2em;
}
