.terminal {
	width: 100%;
	background: black;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	padding: 1em;
	color: var(--color-text);
	font-family: monospace, monospace;
	box-sizing: border-box;
	height: 100%;
	overflow-y: auto;
	cursor: text;
  	line-height: 1;
}

.terminal__message {
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	margin: 0 0 0.1em;

	.terminal__sign {
		color: var(--color-text-disabled);
	}

	.terminal__text {
		white-space: pre-line;
	}
}

.terminal__input-wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	position: relative;
	grid-template-areas: 'sign text';

	.terminal__sign {
		color: var(--color-text);
	}
}

.terminal__input {
	width: 100%;
	border: none;
	box-sizing: border-box;
	background: transparent;
	color: var(--color-text);
	font-family: inherit;
	font-size: 100%;
	line-height: 1.1;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}
}

.terminal__input--autocomplete {
	padding-left: 1.2em;
	position: absolute;
	pointer-events: none;
	color: var(--color-text-disabled);
}

.terminal__sign {
	width: 1.2em;
}
