.tooltip {
	display: block;
	font-size: 0.8em;
	max-width: 100%;
	z-index: 1004;

	.tooltip-inner {
		background: var(--color-navigation);
		border-radius: 4px;
		color: var(--color-text);
		padding: 0.25em 0.75em;
	}

	.tooltip-arrow {
		border-color: var(--color-navigation);
		border-style: solid;
		height: 0;
		margin: 5px;
		position: absolute;
		width: 0;
		z-index: 1;
	}

	&[x-placement^="top"] {
		margin-bottom: 5px;

		.tooltip-arrow {
			border-bottom-color: transparent !important;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-width: 5px 5px 0 5px;
			bottom: -5px;
			left: calc(50% - 5px);
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	&[x-placement^="bottom"] {
		margin-top: 5px;

		.tooltip-arrow {
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-top-color: transparent !important;
			border-width: 0 5px 5px 5px;
			left: calc(50% - 5px);
			margin-bottom: 0;
			margin-top: 0;
			top: -5px;
		}
	}

	&[x-placement^="right"] {
		margin-left: 5px;

		.tooltip-arrow {
			border-bottom-color: transparent !important;
			border-left-color: transparent !important;
			border-top-color: transparent !important;
			border-width: 5px 5px 5px 0;
			left: -5px;
			margin-left: 0;
			margin-right: 0;
			top: calc(50% - 5px);
		}
	}

	&[x-placement^="left"] {
		margin-right: 5px;

		.tooltip-arrow {
			border-bottom-color: transparent !important;
			border-right-color: transparent !important;
			border-top-color: transparent !important;
			border-width: 5px 0 5px 5px;
			margin-left: 0;
			margin-right: 0;
			right: -5px;
			top: calc(50% - 5px);
		}
	}

	&[aria-hidden='true'] {
		opacity: 0;
		transition: opacity .15s, visibility .15s;
		visibility: hidden;
	}

	&[aria-hidden='false'] {
		opacity: 1;
		transition: opacity .15s;
		visibility: visible;
	}
}
