$color-theme-blue: #367fa9;
$color-theme-red: #a92616;
$color-theme-teal: #359392;
$color-theme-purple: #504d8e;
$color-theme-green: #00a65a;
$color-theme-orange: #e2971f;

$color-text: #fff;
$color-text-dark: #111113;

$color-status-offline: #dd4b39;
$color-status-disabled: #bfc3cb;
$color-status-farming: #3d9970;$color-status-online: #f39c12;
