name: ASF-ui-ci

on: [push, pull_request]

env:
  NODE_JS_VERSION: 'lts/*'

permissions: {}

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        show-progress: false

    - name: Setup Node.js with npm
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        check-latest: true
        node-version: ${{ env.NODE_JS_VERSION }}

    - name: Verify Node.js
      run: node -v

    - name: Verify npm
      run: npm -v

    - name: Install npm modules for ASF-ui
      run: npm ci --no-progress

    - name: Build ASF-ui
      run: npm run-script deploy --no-progress

    - name: Test ASF-ui dev environment
      run: npm run-script serve:ci --no-progress

    - name: Upload ASF-ui
      uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
      with:
        compression-level: 1
        if-no-files-found: error
        name: ${{ matrix.os }}_ASF-ui
        path: dist
