name: ASF-ui-ci

on: [push, pull_request]

env:
  NODE_JS_VERSION: 'lts/*'

permissions: {}

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        show-progress: false

    - name: Setup Node.js with npm
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        check-latest: true
        node-version: ${{ env.NODE_JS_VERSION }}

    - name: Verify Node.js
      run: node -v

    - name: Verify npm
      run: npm -v

    - name: Install npm modules for ASF-ui
      run: npm ci --no-progress

    - name: Build ASF-ui
      run: npm run-script deploy --no-progress

    - name: Test ASF-ui dev environment
      run: npm run-script serve:ci --no-progress

    - name: Upload ASF-ui
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        compression-level: 1
        if-no-files-found: error
        name: ${{ matrix.os }}_ASF-ui
        path: dist
