name: ASF-ui-ci

on: [push, pull_request]

env:
  NODE_JS_VERSION: 'lts/*'

permissions: {}

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        show-progress: false

    - name: Setup Node.js with npm
      uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
      with:
        check-latest: true
        node-version: ${{ env.NODE_JS_VERSION }}

    - name: Verify Node.js
      run: node -v

    - name: Verify npm
      run: npm -v

    - name: Install npm modules for ASF-ui
      run: npm ci --no-progress

    - name: Build ASF-ui
      run: npm run-script deploy --no-progress

    - name: Test ASF-ui dev environment
      run: npm run-script serve:ci --no-progress

    - name: Upload ASF-ui
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        compression-level: 1
        if-no-files-found: error
        name: ${{ matrix.os }}_ASF-ui
        path: dist
